body {
  background-color: white;
}

hr {
  /* Alternatively we can say "border-style: dotted none none;" */
  /* This CSS will alter the way my border looks to 4 solid lightgray dots */
  background-color: white;
  border-style: dotted;
  width: 4%;
  border-width: 0 0 5px;
  border-color:  lightgray;

}

/* #66BFBF apply to h1 and h3 headings across all files*/

h1{
  color: #4034eb;
}

h3{
  color: #4034eb;
}
